
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <b><img src="../assets/images/store.jpg" id="logo">My Store</b>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="users" routerLinkActive="active">User
            Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Product
            Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="providers/providerList">Provider
            Management</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
